/* stylelint-disable selector-pseudo-class-no-unknown */

@import './var';

.hidden {
    display: none !important;
}

%width-limit,
.width_limit {
    background-color: $main-background-text-color;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: $max-width;
    padding-left: $ui-unit * 4;
    padding-right: $ui-unit * 4;
}

:global .mobile {
    :local {
        %width-limit,
        .width_limit {
            padding-left: $ui-unit * 2;
            padding-right: $ui-unit * 2;
        }
    }
}

%link,
.link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: $link-color;
    padding-top: 1px;
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
    }
}

.bold {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
}

%clear-self,
.clear_self {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

%ellipsis,
.ellipsis {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
