$main-background-text-color: #f0ece3;
$main-text-color: #212121;
$main-font-family: 'Helvetica', 'MS Trebuchet', sans-serif;
$main-font-size: 16px;
$main-line-height: 1.4;

$main-monospace-font-family: 'Lucida Console', 'Monaco', monospace;

$ui-unit: 8px;

$max-width: 1200px;

$link-color: $main-text-color;
$link-color-active: $main-text-color;
$link-color-visited: $main-text-color;

/*
$color-yellow: #ffd51a;
$color-orange: #ffb61a;
$color-border: #444;
$light-gray: #f0f0f0;
$gray: #777;
*/
